 #Meme1 {
 	width: 250px;
 	height: 255px;
 	float: right; /*meme1 */
 }
 #bottomtext {
 	color: #1900ff;
 	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
 	font-style: oblique; /*bottomtext */
 }
 #banana {
 	color: #eeff00;
 	float: left;
 	font-style: italic; /* */
 }
 #Intro1 {
 	background-color: #f2ff5e;
 	width: 100%;
 	float: left;
 	font-size: 25px;
 	Font-style: italic;
 	border: 6px double #ff3c00 width:100%; /* main text*/
 }
 #Intro1:hover {
 	background-color: #b30f00; /*maintext hover */
 }
 #ban: {
 	color: #00ff95;
 	float: left;
 	font-style: italic; /* */
 }
 #ban:hover {
 	color: #00ff08; /* */
 }
 #DND {
  float:left;
 	color: #000000;
 	background-color: #f2ff5e; 
 	width:100%;
 	height:100%; /* */
 }
 body {
  float:left;
 	background-color: #ffffff;
 	border: 5px outset #FF0000;
 	width:100%;
 	Height:100%; /* */
 	box-sizing:border-box;
 	margin:0;
 }
 #navbar {
 	background-color: #000000;
 	width:100%;
 	height:100%; /* */
 } 
 #barboi {
 	color: #ffffff; /* */
 }
 #video {
 	height: 254px; /*height of Nobody expects...*/
 }
 #oneofus {
 	color: #e61410; /*You are being conscripted, color*/
 }
 #Contact { /*color for Contact */
  float:left;
 	color: #000000;
 	Background-color: #f2ff5e; 
 	width:100%;
 	height:100%;
 }
 #test {
  Background-color:#f2ff5e; 
 }
 #container {
  display: flex;
  width:100%;
  height:100%;
  justify-content:space-around;
 
}
 #Classes2 {
  float:left;
   width:30%;
   height:30%;
 }
  #Classes3 {
  float:right;
   width:36%;
   height:36%;
  }
  #Races2 {
    float:right;
    width:30%;
    height:30%;
  }
